{% extends "blogApp/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div align="center" >
     <img src="{% static 'blogApp/logo.png' %}">
        <br>
        <br>
        <h1 style="font-family: 'Indie Flower', cursive;">Blog Away Your Frustrations, Fears, and Anxiety!</h1>
        <br>
        {% if user.is_authenticated %}
        <a style = "font-size: 125%;" href="{% url 'current' %}" class="btn btn-info">Go to Your Blogs!</a>
        {% else %}
        <a style = "font-size: 125%;" href="{% url 'signupuser' %}" class="btn btn-info">Sign Up Now!</a>
        {% endif %}
        </div>

</div>
{% endblock content %}